<form action="/add" method="post">
  username <input type="text" name="id">
  password <input type="text" name="name">
  username <input type="text" name="state">
  password <input type="text" name="country">
  <button type="submit">Submit</button>
</form>